
<div class="row">
  {{#each sources}}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <img src="img/{{id}}.png" alt="" class="img-fluid">
          <h4 class="card-title">{{name}}</h4>
          <p class="card-text">{{description}}</p>
        </div>
        <div class="card-footer">
          <a href="#{{id}}Feed"class="src-id btn btn-primary">See more</a>
        </div>
      </div>
    </div>
  {{/each}}
  <!-- /.col-md-4 -->

</div>
<!-- /.row -->
