<div id="signIn">
  
  <h3>Sign In</h3>

  <form class="example-form">

    <mat-form-field class="example-full-width">
      <input 
        [(ngModel)]="signInData.email"
        matInput placeholder="E-mail" 
        type="email"
        name="email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input 
        [(ngModel)]="signInData.password"
        matInput placeholder="Password" 
        type="password"
        name="password">
    </mat-form-field>
    <br>
    <button mat-button (click)="Post()"> Sign In </button>

  </form>

</div>



